body{
	background:url(images/background_new.jpg) no-repeat fixed 0 0 #183152;
}

#page{
	width:900px;
	margin:0 auto;
}

#slogan{
    color:#183152;
    font-family:"comic sans ms","times new roman";
    font-size: 28px;
    margin: 25px auto 40px;
    text-align: left;
}
.fb-msg-pre{
    color:#e1e6f9;
    font-family: Cursive,"times new roman";
    font-size: 28px;
    text-align: left;
    margin: 10px;
}
.fb-msg-post{
    color:#e1e6f9;
    font-family: Cursive,"times new roman";
    font-size: 28px;
    text-align: left;
}
#video-container{
	background:rgb(225, 230, 249);
	background:rgba(225, 230, 249,.48);/*#e1e6f9*/;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius:9px;
	padding:10px;
	margin-top:35px;
	margin:0 10px;
	overflow:hidden;
}
#video-container ul{
	float:left;
}
#video-container li{
	list-style:none;
	display:inline;
	margin-right:40px;
	float:left;
}
#video-container li iframe{
	 box-shadow: 0 0 6px 2px #FCFCFB;
}
#bat-background{
	 background: url("images/bat-ball.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 121px;
    position: relative;
    top: -60px;
    left:10px;
    width: 516px;
}

#fb-like-wrapper{
	display:block;
	margin:0px 0px 0 100px;
	float:left;
	 position: relative;
    right: -25px;
    top: 12px;
}

#logo{
	display:block;
	width:630px;
	height:220px;
	margin:0 auto;
	text-indent:-9999px;
	background:url(images/captainpandey_logo.png) no-repeat scroll 0 0 transparent;
}
.social{
	position:absolute;
	margin-top:45px;
	padding-left:145px;
}