


.hidden{
display:none;
}

.match-link{
border: 1px dashed #999;
margin: 5px 0px;
padding: 0px 20px;
cursor: pointer;
}
.match-link:hover{
background: #eee;
}
.match-main form{}
.match-main .form-item{}