<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CaptainPandey - Award winning game for everybody with a cricket prediction</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/static/js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/static/js/ui/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="/static/js/ui/jquery.ui.position.js"></script>	
	<script type="text/javascript" src="/static/js/ui/jquery.ui.selectmenu.js"></script>
	<script type="text/javascript" src="/static/js/ui/jquery.ui.slider.js"></script>
	<script type="text/javascript" src="/static/js/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/static/js/script.js" type="text/javascript"></script>
    <script src="/static/js/captainpandey.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/nicescroll/nicescroll.css">
    <link rel="stylesheet" type="text/css" href="/static/js/ui/css/jquery.ui.all.css">
    <link rel="stylesheet" type="text/css" href="/static/js/ui/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" type="text/css" href="/static/js/ui/css/jquery.ui.slider.css">
<!-- 	<link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/captainpandey.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="/static/css/ie.css" />
	<![endif]-->
  </head>
  <body class="{% if current_user %}auth-user{% else %}anon-user{% endif %}">
  {% import 'templates/macros.html' as mac %}
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">captain pandey</div>
			<div id="slogan">TODO</div>
			<div id="fb-login">
				{% if current_user %}<span>Hey!! {{ current_user.name }}</span> {% endif %}<fb:login-button autologoutlink="true" scope="email"></fb:login-button>
			</div>
		</div>
	</div>

	
	<div id="page">
		<div id="main">
			<div id="message">messages displayed here</div>
			<div id="primary-menu">
				<ul>
					<li>
						score
					</li>
					<li>
						winner
					</li>
					<li>
						friends
					</li>
					<li>
						top-predictions
					</li>
				</ul>
			</div>
			<div class="content">
		{% for match_key in cp.match_keys %}
		<div id="{{match_key}}_main" class="match-main hidden match-main-{{cp.matches[match_key].flag}}">
				<h1>{{cp.teams[cp.matches[match_key].team_one].name}} Vs. {{cp.teams[cp.matches[match_key].team_two].name}}</h1>
				
				{% if (cp.matches[match_key].flag == 'closed') %}
				<p>This is a CLOSED match</p>
				<p>TODO</p>
				<p>Anon user will see scorecard of the match</p>
				<p>Auth user will see his predictions compared to the real score + his points (if he had made predicitons)</p>
				<p>Auth user will see scorecard if he had not made any predictions</p>
				
				{% elif (cp.matches[match_key].flag == 'open') %}
				<p>Make your predictions for this game below and win prizes.. la la la la..</p>
				<p>Hurry!! We will STOP accepting your predictions as soon as the match starts at - {{cp.matches[match_key].start_time}}</p>
				<form method="post" action="/TODO">
				{% if (not user_pred) or (cp.matches[match_key].key not in user_pred) %}
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_run', name='player_run', match=cp.matches[match_key], cp=cp) }} will score {{ mac.prediction_select(id='prediction_player_run', name='player_run_pred', val=prediction_limits['p_r']) }}<div class="prediction_slider_run"></div> runs</div>
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_wicket', name='player_wicket', match=cp.matches[match_key], cp=cp) }} will take {{ mac.prediction_select(id='prediction_player_wicket', name='player_wicket_pred', val=prediction_limits['p_w']) }}<div class="prediction_slider_wicket"></div> wickets</div>
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_six', name='player_six', match=cp.matches[match_key], cp=cp) }} will hit {{ mac.prediction_select(id='prediction_player_six', name='player_six_pred', val=prediction_limits['p_s']) }}<div class="prediction_slider_six"></div> sixes</div>
					<div class="form-item">Team {{ mac.match_team_select(id=match_key+'_team_run', name='team_run', match=cp.matches[match_key], cp=cp) }} will score {{ mac.prediction_select(id='TODO', name='team_run_pred', val=prediction_limits['t_r']) }} runs in total</div>
					<div class="form-item">Team {{ mac.match_team_select(id=match_key+'_team_six', name='team_six', match=cp.matches[match_key], cp=cp) }} will hit {{ mac.prediction_select(id='TODO', name='team_six_pred', val=prediction_limits['t_s']) }} sixes in total</div>				
					<input type="hidden" name="match_key" value="{{cp.matches[match_key].key}}" />
					<input type="hidden" name="pred_key" value="" />
					<input type="submit" value="Save Your Predictions" />
				{% else %}
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_run', name='player_run', match=cp.matches[match_key], cp=cp, default=user_pred[cp.matches[match_key].key].run_player_key) }} will score {{ mac.prediction_select(id='TODO', name='player_run_pred', val=prediction_limits['p_r'], default=user_pred[cp.matches[match_key].key].run_player_val) }} runs</div>
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_wicket', name='player_wicket', match=cp.matches[match_key], cp=cp, default=user_pred[cp.matches[match_key].key].wicket_player_key) }} will take {{ mac.prediction_select(id='TODO', name='player_wicket_pred', val=prediction_limits['p_w'], default=user_pred[cp.matches[match_key].key].wicket_player_val) }} wickets</div>
					<div class="form-item">{{ mac.match_player_select(id=match_key+'_player_six', name='player_six', match=cp.matches[match_key], cp=cp, default=user_pred[cp.matches[match_key].key].six_player_key) }} will hit {{ mac.prediction_select(id='TODO', name='player_six_pred', val=prediction_limits['p_s'], default=user_pred[cp.matches[match_key].key].six_player_val) }} sixes</div>
					<div class="form-item">Team {{ mac.match_team_select(id=match_key+'_team_run', name='team_run', match=cp.matches[match_key], cp=cp, default=user_pred[cp.matches[match_key].key].run_team_key) }} will score {{ mac.prediction_select(id='TODO', name='team_run_pred', val=prediction_limits['t_r'], default=user_pred[cp.matches[match_key].key].run_team_val) }} runs in total</div>
					<div class="form-item">Team {{ mac.match_team_select(id=match_key+'_team_six', name='team_six', match=cp.matches[match_key], cp=cp, default=user_pred[cp.matches[match_key].key].six_team_key) }} will hit {{ mac.prediction_select(id='TODO', name='team_six_pred', val=prediction_limits['t_s'], default=user_pred[cp.matches[match_key].key].six_team_val) }} sixes in total</div>				
					<input type="hidden" name="match_key" value="{{cp.matches[match_key].key}}" />
					<input type="hidden" name="pred_key" value="{{user_pred[cp.matches[match_key].key].pred_key}}" />
					<input type="submit" value="Update Your Predictions" />
				{% endif %}
				</form>
				
				{% elif (cp.matches[match_key].flag == 'future') %}
				<p>This is a FUTURE match</p>
				<p>You will be able to MAKE predictions for this match from - {{cp.matches[match_key].pred_start_time}}</p>
				<p>We will STOP letting you add predictions right before the match begins at - {{cp.matches[match_key].start_time}} </p>
				{% endif %}
		</div>
		{% endfor %}
	</div>  
	</div>


	<div id="sidebar">
		<div class="block schedule" >
				<div class="header">schedule</div>
				<div class="content">
					<div class="schedule-content">
	{% for match_key in cp.match_keys %}
		<div id="{{match_key}}" class="match-link match-link-{{cp.matches[match_key].flag}}">
		<p>{{match_key}} | {{cp.matches[match_key].start_time}}</p>
		<p>{{cp.teams[cp.matches[match_key].team_one].name}} Vs. {{cp.teams[cp.matches[match_key].team_two].name}} <span class="match-link-flag">{{cp.matches[match_key].flag}}</span></p>
		</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	
    <div id="fb-root"></div>
    <div id="footer"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>